* {
    margin: 0;
    padding: 0;
}

.shop-cart {
    width: 1000px;
    margin: 20px auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

caption {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 35px;
    font-weight: 900;
}

th,
td {
    border: 1px solid #dfdfdf;
    padding: 15px 20px;
}

thead,
tfoot {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 700;
}

thead {
    background-color: #eeeeee;
}

tbody {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: 400;
}

.check-all {
    margin-left: 5px;
}

.total {
    text-align: right;
}